apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-cache
spec:
  replicas: 0
  selector:
    matchLabels:
      app: store

  template:
    metadata:
      labels:
        app: store
    spec:
      affinity:
        podAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: zone
                operator: In
                values:
                - zone-a

    containers:
      - name: redis-server
        image: redis:3.2-alpine
