apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-cache
spec:
  selector:
    matchLabels:
      app: store
  replicas: 0
  template:
    metadata:
      labels:
        app: store
    spec:
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: zone
                operator: In
                values:
                - zone-a
                - zone-b
            topologyKey: "kubernetes.io/hostname"
      containers:
      - name: redis-server
        image: redis:3.1-alpine