apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: app-reader
  namespace: webapp
rules:
- apiGroups: [""]
  resources:
  - pods
  - services
  - configmaps
  verbs:
  - get
  - list
  - watch
