apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: demo-app-rs
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
      - name: demo-app
        image: docker.io/strrst30/k8s-demo:latest
        ports:
        - containerPort: 80
