apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: k8s-demo-rs
spec:
  replicas: 2
  selector:
    matchLabels:
      app: k8s-demo
  template:
    metadata:
      labels:
        app: k8s-demo
    spec:
      containers:
      - name: k8s-demo
        image: docker.io/strrstgit/k8s-demo:latest
        ports:
        - containerPort: 80
